.CreditsTeamVE {
    width: 45%;
    height: 90%;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.TeamTitle {
    font-size: 30px;
    -unity-text-align: middle-center;
}

.Name {
    font-size: 20px;
    text-shadow: 1px 1px 3px rgb(87, 35, 63);
}

.TeamTitle {
    font-size: 30px;
    -unity-text-align: middle-center;
    -unity-font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
